body{
    background-color: rgb(25, 25, 25);
}

a {
    text-decoration: none;
    color: inherit !important;
}

header a {
    color:whitesmoke !important;
}
header a:hover {
    color:rgb(195, 0, 0) !important;
}

.card-img-top {
    max-width: 250px;
    text-align: center;
}
